<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezds.erp.mapper.ProductMapper">
  		
    <!-- 인터셉터 후 세션에 등록 -->
    <select id="getProductList" parameterType="ProductVO" resultType="ProductVO">
		SELECT 
						A.prd_id ,A.prd_no , B.cate_name , C.sub_cate_name, 
						A.prd_spec, A.prd_desc ,  A.prd_tol, A.prd_temp, A.prd_type, A.prd_maker , A.update_date
		FROM 			prd_product_manage A 
		LEFT JOIN 		prd_part_category B ON A.cate_id = B.cate_id 
		LEFT JOIN 		prd_part_sub_category C ON A.sub_cate_id = C.sub_cate_id 
		ORDER BY        prd_id ASC;

    </select>
    
       <!-- 인터셉터 후 세션에 등록 -->
    <select id="getPrdDetail" parameterType="Integer" resultType="ProductVO">
		SELECT * FROM   prd_product_manage A 
		left join 		prd_part_category B 
		ON 				A.cate_id = B.cate_id
		left join 		prd_part_sub_category C 
		ON				A.sub_cate_id = C.sub_cate_id 
		where 			A.prd_no = #{prdNo} 
		

    </select>
 
  

</mapper>