<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezds.erp.mapper.ProductMapper">
  		
    <!-- 인터셉터 후 세션에 등록 -->
    <select id="getProductList" parameterType="ProductVO" resultType="ProductVO">
		SELECT 
						A.prd_id ,A.prd_no , B.cate_name , C.sub_cate_name, A.prd_moq,  A.prd_qty,
						A.prd_spec, A.prd_desc ,  A.prd_tol, A.prd_temp, A.prd_type, A.prd_maker , A.update_date
		FROM 			prd_product_manage A 
		LEFT JOIN 		prd_part_category B ON A.cate_id = B.cate_id 
		LEFT JOIN 		prd_part_sub_category C ON A.sub_cate_id = C.sub_cate_id 
		ORDER BY        prd_id ASC;
    </select>
    
    <select id="getPrdDetail" parameterType="Integer" resultType="ProductVO">
		SELECT * FROM   prd_product_manage A 
		left join 		prd_part_category B 
		ON 				A.cate_id = B.cate_id
		left join 		prd_part_sub_category C 
		ON				A.sub_cate_id = C.sub_cate_id 
		where 			A.prd_no = #{prdNo} 
    </select>
    
     <select id="getProductOne" parameterType="ProductVO" resultType="ProductVO">
		SELECT * FROM   prd_product_manage A 
		left join 		prd_part_category B 
		ON 				A.cate_id = B.cate_id
		left join 		prd_part_sub_category C 
		ON				A.sub_cate_id = C.sub_cate_id 
		where 			A.prd_id = #{prdId} 
    </select>
 
 	<select id="getCateList"  resultType="ProductVO">
		SELECT * FROM   prd_part_category
    </select>
 
   <select id="getSubCateList" resultType="ProductVO">
		SELECT * FROM   prd_part_sub_category 
   </select>
 
   <insert id="productInsert" parameterType="ProductVO">
  	INSERT INTO prd_product_manage 
					   (cate_id,sub_cate_id, prd_no , prd_desc, prd_spec , prd_tol, prd_temp , prd_type , prd_qty, prd_moq, prd_maker) 
  				VALUES 
  				(#{cateId}, #{subCateId}, #{prdNo}, #{prdDesc}, #{prdSpec}, #{prdTol}, #{prdTemp}, #{prdType}, #{prdQty}, #{prdMoq}, #{prdMaker})
	</insert>
	
	<update id="productUpdate" parameterType="ProductVO">
	UPDATE prd_product_manage SET 
							cate_id 		= #{cateId},
							sub_cate_id 	= #{subCateId},
							prd_no 			= #{prdNo},
							prd_desc 		= #{prdDesc},
							prd_spec 		= #{prdSpec}, 
							prd_tol 		= #{prdTol},
							prd_temp 		= #{prdTemp},
							prd_type 		= #{prdType},
							prd_qty			= #{prdQty},
							prd_moq			= #{prdMoq},
							prd_maker		= #{prdMaker}
					 WHERE  prd_id = #{prdId}
	</update>
	
	<delete id="productDelete" parameterType="ProductVO">
	DELETE FROM prd_product_manage WHERE  prd_id = #{prdId}
	</delete>
  
  	<select id="getSubSpecList" parameterType="Integer" resultType="SubSpecVO">
		SELECT * FROM   prd_product_sub_spec  
		where 			sub_spec_prd_no = #{prdNo} 
    </select>
  
  	<insert id="productSpecInsert" parameterType="SubSpecVO">
  	INSERT INTO prd_product_sub_spec 
					    (sub_spec_prd_no , sub_spec_maker , sub_spec_name ) 
  				VALUES 
  						(#{subSpecPrdNo}, #{subSpecMaker}, #{subSpecName})
	</insert>
	
	<delete id="productSpecDelete" parameterType="SubSpecVO">
	DELETE FROM prd_product_sub_spec WHERE  sub_spec_id = #{subSpecId}
	</delete>

</mapper>